<h1>Add new employee:</h1>

<%= form_tag '/contacts', method: :post do %>
<div>
  <%= label_tag :first %>
  <%= text_field_tag :first %>
  <br>
  <%= label_tag :last %>
  <%= text_field_tag :last %>
  <br>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br>
  <%= label_tag :phone %>
  <%= text_field_tag :phone %>
</div>
<div>
  <%= submit_tag 'Add Employee' %>
</div>
<% end %>